.container {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 48px;
    border-bottom: 1px solid #E6E6E6;
}

.left {
    width: 22%;
}

.right {
    width: 72%;
}

.profileImg {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 32px;
    object-fit: cover;
}

.name {
    font-size: 22px;
    line-height: 24px;
}

.date {
    font-size: 16px;
    line-height: 24px;
    color: #666;
    display: block;
    margin-top: 6px;
}

.reviewText {
    margin-top: 20px;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;
}