.heading {
    color: #333;
    font-size: 54px;
    line-height: 64px;
    font-weight: 100;
    letter-spacing: 0.96px;
}

.header {
    margin-top: 36px;
}

.description {
    width: 57%;
    color: #666;
    font-size: 22px;
    line-height: 32px;
    margin-top: 24px;
    letter-spacing: 0.92px;
}

.btnLoadMore {
    width: max(30%, 416px);
    height: 48px;
    border: 1px solid #002B56;
    background-color: white;
    color: #002B56;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    margin: auto;
    transition: all ease-out .2s;
}

.btnLoadMore:focus {
    outline: none;
}

.btnLoadMore:hover {
    color: white;
    background-color: #002B56;
    cursor: pointer;
}

.btnContainer {
    text-align: center;
    margin-top: 80px;
    overflow-anchor: none;
}

.labelLoading {
    width: max(30%, 416px);
    height: 48px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    color: #002b56;
    border: none;
    background-color: #e4e4e4;
}
