* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", helvetica, sans-serif;
}

body {
    max-width: 1440px;
    margin: auto;
    padding: 0 64px 100px 64px;
}